header {
  text-align: center;
  margin: 20px auto;
}

footer {
  text-align: center;
  margin: 20px auto;
}

body {
  background: rgb(246, 242, 255);
}

a {
  color: rgb(149, 112, 236);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
